.root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: auto;

  margin-top: 50px;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 5px;

  border-bottom: 1px dashed var(--white);
}

.name {
  margin-right: 25px;

  font-family: "Press Start 2P", system-ui;
  font-size: 0.8rem;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.2rem;
  }
}

.playing {
  background-image: linear-gradient(90deg, var(--red), var(--blue-light));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
