.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-block: 100px;
}

.title {
  font-family: "Press Start 2P", system-ui;
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: 7px;
  text-align: center;

  animation: glow-text 2s ease-in-out infinite alternate;
}

.subtitle {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 7px;
  text-align: center;
}

.icon {
  width: 150px;
  height: 150px;

  margin-top: 30px;
  margin-bottom: 10px;

  border-radius: 50%;
}

.tip-container {
  height: 20px;

  margin-bottom: 10px;
}

.tip {
  font-size: 16px;
  text-align: center;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;

  width: unset !important;
  height: unset !important;

  margin-top: 50px;
  padding: 15px 25px;

  font-family: "Press Start 2P", system-ui;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 7px;
  text-align: center;

  span {
    margin-left: 10px;
    margin-bottom: 1px;

    line-height: 1px;
  }
}

@keyframes glow-text {
  from {
    text-shadow: 0 0 10px var(--white), 0 0 20px var(--white),
      0 0 30px var(--red), 0 0 40px var(--red), 0 0 50px var(--red),
      0 0 60px var(--red), 0 0 70px var(--red);
  }
  to {
    text-shadow: 0 0 20px var(--white), 0 0 30px var(--blue-light),
      0 0 40px var(--blue-light), 0 0 50px var(--blue-light),
      0 0 60px var(--blue-light), 0 0 70px var(--blue-light),
      0 0 80px var(--blue-light);
  }
}
