.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
}

.title {
  font-family: "Press Start 2P", system-ui;
  font-size: 3.5rem;
  line-height: 1.5;
  letter-spacing: 7px;
  text-align: center;

  animation: glow-text 2s ease-in-out infinite alternate;
}

.icon {
  width: 250px;
  height: 250px;

  margin-top: 25px;

  border-radius: 50%;

  /* animation: glow-box 2s ease-in-out infinite alternate; */
}

@keyframes glow-text {
  from {
    text-shadow: 0 0 10px var(--white), 0 0 20px var(--white),
      0 0 30px var(--red), 0 0 40px var(--red), 0 0 50px var(--red),
      0 0 60px var(--red), 0 0 70px var(--red);
  }
  to {
    text-shadow: 0 0 20px var(--white), 0 0 30px var(--blue-light),
      0 0 40px var(--blue-light), 0 0 50px var(--blue-light),
      0 0 60px var(--blue-light), 0 0 70px var(--blue-light),
      0 0 80px var(--blue-light);
  }
}

/* @keyframes glow-box {
  from {
    box-shadow: 0 0 10px var(--white), 0 0 20px var(--white),
      0 0 30px var(--red), 0 0 40px var(--red), 0 0 50px var(--red),
      0 0 60px var(--red), 0 0 70px var(--red) inset;
  }
  to {
    box-shadow: 0 0 20px var(--white), 0 0 30px var(--blue-light),
      0 0 40px var(--blue-light), 0 0 50px var(--blue-light),
      0 0 60px var(--blue-light), 0 0 70px var(--blue-light),
      0 0 80px var(--blue-light) inset;
  }
} */
