.input {
  display: none;
}

.label {
  display: block;

  padding: 15px 25px;

  font-family: "Press Start 2P", system-ui;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 7px;
  text-align: center;

  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);

  border-radius: 10px;

  background-image: linear-gradient(
    to right,
    var(--red) 0%,
    var(--purple) 50%,
    var(--blue-light) 100%
  );

  cursor: pointer;

  &:hover {
    background-position: right center;
  }

  &:active {
    transform: scale(0.95);
  }
}

.label-disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
